:root {
    --white: #FFFFFF;
    --gray: #6C757D;
    --black: #343A40;
    --green: #28A745;
    --blue: #007BFF;

    --border: 3px solid var(--black);
}

button, input[type="text"], select {
    border-radius: 6px;
}

button {
    border: none;
    padding: 15px;
    background-color: var(--black);
    color: var(--white);
}

input[type="text"] {
    border: var(--border);
    padding: 12px;
    background-color: var(--white);
    color: var(--black);

    &::placeholder {
        color: var(--gray);
    }
}

select {
    border: var(--border);
    padding: 11px;
}

.container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.copy-button {
    &[data-is-copied="false"] {
        background-color: var(--blue);
    }

    &[data-is-copied="true"] {
        background-color: var(--green);
    }
}
